@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
*{
    font-family: "Roboto";
    margin: 0;
}
h1{
    font-size: 40px;
    margin: 0;
    padding-top: 2%;
}
.txtPromo{
    padding-top: 1%;
}

h2{
    margin: 0;
    padding-top: 50px;
}
.barrPromo{
    background-color: rgba(28, 209, 176, 1);
    height: 40px;
    padding-bottom: 0;
    margin: 0;    
}
.barrBanner{
    padding-top: 0;
    background-color: rgba(0, 102, 159, 1);
    height: 100px;
    margin: 0;
}
h2{
    font-size: 30px;
}
h2#tForm{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}
p{
    color: white;
    font-size: 1.2em;
    font-weight:lighter;
}
p.infoH{
    color: black;
    font-size: 1em;
}
div.liD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroe{
    width: 300px;
    display: inline-block;
    background-color: rgba(243, 243, 243, 1);;
    margin: 10px;
    text-align: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    position: relative;
    
}
button#btSubm{
    background-color: rgba(28, 209, 176, 1);
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    width: 30%;
    height: 50px;
    border-radius: 5px;
    margin: 1%;
}
label{
    color: white;
    margin: 2%;
}
main{
    text-align: center;
}
section#infoBody{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 8% 8%;
    justify-content: center;
}
.campos{
    width: 22vw;
    border-radius: 5px;
    border-style: none;
}
input.iName{
    height: 40px;
    
}
select.sEspecie{
    height: 46px;
}
textarea.Desc{
    margin-right: 5%;
    height: 40vh;
}
button{
    color: white;
    background-color: rgba(0, 102, 159, 1);
    font-size: 15px;
    width: 120px;
    height: 45px;
    border: none;
}
footer{
    align-items: center;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    height: 40px;
}
.fondo1{
    background-repeat: no-repeat;
}
.pic{
    border-radius:150px;
    position: absolute;
    left: 90px;
    top: 120px;
}

.infoH{
    text-align: left;
    padding: 12px;
    font-size: 16;
}

.fas{
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color:rgba(204, 36, 36, 1);
}
form{
    background-color: rgba(0, 102, 159, 1);
    margin: 2% 10%;
    border-radius: 25px;
}